<div class='animated-background-wrapper-signup'>
</div>
<div class="header-row">
  <div class="col-xs-6 col-md-6">
    <div id="logo">
      <%= link_to image_tag("red-bridge-white.png", :alt => "hiphy-logo"), "/" %>
    </div>
  </div>
  <div class="col-xs-6 col-md-6">
    <div class="menu" >
      <a class="login-form" data-toggle="modal" data-target="#loginModal">Login</a>
          <!-- Modal -->
      <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog modal-md">
          <div class="modal-content" id="login-modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4>Login</h4>
            </div>
            <div class="modal-body">
              <div id='user-join' >
                <form class='user-form' id='join-form' action="<%= session_url %>" method="post">
                  <input type="hidden" name="authenticity_token"
                         value="<%= form_authenticity_token %>">
                  <div class='form-row'>
                  <input
                    class='form-control'
                    type="text"
                    name="user[username]"
                    placeholder='Username'
                    id="user_username">
                  </div>

                  <div class='form-row'>
                  <input
                    class='form-control'
                    type="password"
                    name="user[password]"
                    placeholder='Password'
                    id="user_password">
                  </div>

                  <button class="btn btn-primary" type="submit" value='Join'>Login</button>
                  <br />
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <div class='signup-link'>
                Don't want to sign up? <%= link_to "Guest Login", guest_login_url %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Trigger the modal with a button -->
      <a class="sign-up-form" data-toggle="modal" data-target="#signUpModal">Sign Up</a>
          <!-- Modal -->
      <div class="modal fade" id="signUpModal" role="dialog">
        <div class="modal-dialog modal-md">
          <div class="modal-content" id="login-modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4>Sign Up</h4>
            </div>
            <div class="modal-body">
              <div id='user-join' >
                <form class='user-form' id='join-form' action="<%= users_url %>" method="post">
                  <input type="hidden" name="authenticity_token"
                         value="<%= form_authenticity_token %>">
                  <div class='form-row'>
                  <input
                    class='form-control'
                    type="text"
                    name="user[email]"
                    placeholder='Email Address'
                    value="<%= @user.email %>"
                    id="user_username">
                  </div>
                  <div class='form-row'>
                  <input
                    class='form-control'
                    type="text"
                    name="user[username]"
                    placeholder='Username'
                    value="<%= @user.username %>"
                    id="user_username">
                  </div>
                  <div class='form-row'>
                  <input
                    class='form-control'
                    type="password"
                    name="user[password]"
                    placeholder='Choose a password'
                    id="user_password">
                  </div>
                  <button class="btn btn-primary" type="submit" value='Join'>Join</button>
                  <br />
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <div class='login-link'>
                Don't want to sign up? <%= link_to "Guest Login", guest_login_url %>
                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="github-link" href="https://github.com/theRealYoshi/">Github</a>
    </div>
  </div>
</div>
<div class="container-splash-page">
  <div class="jumbotron">
    <h2>Hiphy</h2>
    <p>Get a View of the San Francisco Bay Area Through Gifs</p>
  </div>
</div>
