<div class='animated-background-wrapper-signup'>
</div>
  <div class="row">
    <div class="col-xs-6 col-md-4"></div>
    <div id='user-content' class="col-xs-6 col-md-4">
      <div id='user-join' >
        <%= image_tag("hiphy-logo-red.png", :alt => "hiphy-logo") %>
        <form class='user-form' id='join-form' action="<%= users_url %>" method="post">
          <input type="hidden" name="authenticity_token"
                 value="<%= form_authenticity_token %>">
          <div class='form-row'>
          <input
            class='form-control'
            type="text"
            name="user[email]"
            placeholder='Email Address'
            value="<%= @user.email %>"
            id="user_username">
          </div>

          <div class='form-row'>
          <input
            class='form-control'
            type="password"
            name="user[password]"
            placeholder='Choose a password'
            id="user_password">
          </div>

          <button class="btn btn-primary" type="submit" value='Join'>Join</button>
        </form>
      </div>
    </div>
    <div class="col-xs-6 col-md-4"></div>
  </div>
<%= link_to "Login!", new_session_url %>
